$BLACK: hsla(291, 0%, 18%,1);
$TEXT: hsla(291, 0%, 18%,0.95);
$LIGHT: hsla(291, 0%, 18%,0.4);
$CALM: hsla(291, 0%, 18%,0.3);
$SMOKE: hsla(291, 0%, 18%,0.2);
$WHITE_SMOKE: hsla(291, 0%, 18%,0.08);
$WHITE: #fff;
$LINK: #03a9f4;
$LINK_HOVER: #ff5252;
$BLUE: #0071bc;
